body{
    background-color:lightpink ;
}

#navbar{
    height: 40px;
    width: 40px;
    margin-bottom: 2px;
 
}
.whole-navbar{
    padding: 0px;
    height: 40px;
    
}

#bannerjipic {
    height: 400px;
    width: 100%;
    padding: 0;
   
    

}

#bannerjipic {
    object-fit: cover;
}

body {
    padding: 16px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.aboutus {
    text-align: center;

}

#about {
    padding: 8px;
    padding: 16px;
}

#coursepic {
    margin-top: 90px;
    padding: 25px 25px 35px 25px;
    border-radius: 35px;
    float: right;



}



.kidding {
    margin-top: 150px; 
    color: gray;
    padding: 8px;
    position: relative;
    left: 350px;
}

.escape {
    color: black;
    text-align: center;
    padding: 8px;
}

.selectcourse {
    padding: 0 0 50px 100px;
    margin-top: 200px;
    font-size: 2rem;


}

#links {
    text-align: center;
    text-decoration: none;
}

#list li {


    display: inline;
    padding: 100px;
    /* margin-left: 90px; */

}



.footer {
    text-align: center;
    font-family: sans-serif;
    font-size: smaller;
    color: gray;
}

.wholefooter {
    text-align: center;
    background-color:#e0f2fe;
    padding: 10px;
    margin-top: 20px;
   

}

div1 {
    padding: 20px;
}

#wholetable {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 16px;
    


}

.tabletitles th {
    text-align: center;
    border: 1px solid black;
    border-bottom: ;
    padding: 12px;
    background-color:gainsboro


}

.courserows td {
    
    padding: 12px;

}
#wholetable tr:nth-child(odd){
    background-color: #99f6e4;
}
 body{
    font-family: 'montserrat',sans-serif;
    
 }

 h1,h2{
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
 }
 div 11{
    font-weight: 600;
 }
 p{
    font-weight: 200;
 }




  

 form input{
    padding: 8px;
    
 }

 a:hover {
    color: darkturquoise;
 }
  p:hover{
    color: #134e4a;
  }
  
form div{
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px;


  
  
  
  }
.prosndcons{
 font-size: smaller;   
}
 
#submit:hover{
    cursor: pointer;
}