/*Base styles*/

body {
    background-color: #f0fdfa;
    margin: 0 auto;
    font-family: sans-serif;
    font-family: 'montserrat', sans-serif;
}

#navbar {
    height: 40px;
    width: 40px;
    margin-bottom: 2px;

}

.whole-navbar {
    padding: 0px;
    height: 40px;

}

h1,
h2,
h3,
h4,
h5 {
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 50px;
}

#bannerjipic {
    height: 250px;
    width: 100%;
    /* min-width: 576px; */
    padding: 0;
    object-fit: cover;

}

#about {
    padding: 8px;
    padding: 16px;
}
#coursepic {
    height: 200px;
    border-radius: 15px;
    position: relative;
    left: 100px;
    margin: 10px;
    
}
.selectcourse {
    font-size: 1rem;
    text-align: center;
    position: relative;
    left: 50px;
}

#wholetable {
    display: none;
}

.table-out{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin:8px;
    position: relative;
    left: 50px;
    border-radius: 10px;

}

.table-in{
    padding: 4px;
    
}

#webd{
 border: 0.2px solid black;
 border-radius: 10px;
 background-color: antiquewhite;
 text-transform: uppercase;
 
}

#appd{
    border: 0.2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    text-transform: uppercase;

}

#drops{
    border: 0.2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    text-transform: uppercase;
}

#digit{
    border: 0.2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    text-transform: uppercase;
}


/*Tablet*/
@media screen and (min-width:576px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 30px;
    }

    #bannerjipic {
        /* min-width: 768px; */
        height: 400px;
        width: 100%;
        padding: 0;
        object-fit: cover;
       

    }
    #coursepic {
        height: 300px;
        border-radius: 25px;
        float: right;
        
    }
    .selectcourse {
        font-size: 1.8rem;
        position: relative;
        top: 90px;
    }

    .table-out{
        display: none;
    }
    #wholetable {
        display: block;
        width: 100%;
        background-color: aliceblue;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 16px;
        margin-top: 200px;
        min-width: 850px;
        
    
    
    }
    
    .tabletitles th {
        text-align: center;
        border: 1px solid black;
        border-bottom: ;
        padding: 12px;
        background-color:gainsboro
    
    
    }
    
    .courserows td {
        
        padding: 12px;
    
    }
    #wholetable tr:nth-child(odd){
        background-color: #99f6e4;
    }

}

/*desktop*/
@media screen and (min-width:768px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 50px;
    }

    #bannerjipic{

       width: 100%;
       object-fit:cover ;
       height: 550px;

    }

    #wholetable {
        display: block;
        width: 100%;
        background-color: aliceblue;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 16px;
        min-width: 1200px;
    }


}

/*larger desktops*/
@media screen and (min-width:992px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 40px;
    }

}


/* 















#links {
    text-align: center;
    text-decoration: none;
}

#list li {


    display: inline;
    padding: 0 80px;
    

}



.footer {
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    color: gray;
    
}

.wholefooter {
    text-align: center;
    background-color:#e0f2fe;
     padding: 10px;
   
    
   

}

div1 {
    padding: 20px;
}


 body{
    
    
 }

 h1,h2{
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
 }
 div 11{
    font-weight: 600;
 }
 p{
    font-weight: 200;
 }




  

 form input{
    padding: 8px;
    
 }

 a:hover {
    color: darkturquoise;
 }
  p:hover{
    color: #134e4a;
  }
  
form div{
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px;


  
  
  
  }
.prosndcons{
 font-size: smaller;   
}
 
#submit:hover{
    cursor: pointer;
}

*/